* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    box-sizing: border-box;
}

.intro {
    background: #292929;
    padding: 30px 15px;
}

.intro h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.intro h2 {
    color: #ff9638;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .text {
    width: 90%;
    color: white;
    margin-right: 10px;
    padding-right: 110px;
}

.about .text ul {
    font-weight: bold;
}

li {
    padding-left: 20px;
    margin: 10px;
}

.about .text ul li::marker {
    content: "•";
    color: #3298f2;
    font-size: 2em;;
}

.about .video img {
    margin-bottom: 20px;
    width: 100%;
}

.about .video {
    width: 100%;
}

.about .video .button {
    background: #ffe200;
    color: black;
    padding: 15px 85px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 7pt;
    font-weight: bolder;
    margin-top: 10px;
    display: inline-block;
}

.directions {
    padding: 30px 15px;
}

.directions h4 {
    color: #61b0f5;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.directions h2 {
    color: #34383b;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.employers {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    background-color: #edf4fb;
    position: relative;
}

.employers .companies h4 {
    color: #34383b;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.employers .companies h2 {
    color: #61b0f5;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.employers::after {
    content: '';
    width: 70px;
    height: 4px;
    background: #6fb4f2;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.employers::before {
    content: '';
    width: 4px;
    height: 230px;
    background: #6fb4f2;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.employers .video img {
    margin-top: 40px;
    width: 100%;
}

.employers .video p {
    color: #757575;
    text-align: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 100%;
    border: 2px solid #b6ddff;
    border-radius: 20px;
    position: relative;
    margin: 0 20px;
}

.item .content {
    color: #369af2;
    padding: 30px 40px;
    text-align: center;
    font-size: 18pt;
    font-weight: 800;
    text-transform: uppercase;
    min-height: 130px;
}

.item .footer {
    display: block;
    padding: 10px 40px;
    text-align: center;
    background-color: #e6edf3;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.item img {
    width: 35px;
    height: 35px;
    position: absolute;
    border: 1px solid #b6ddff;
    left: calc(50% - 35px / 2);
    top: -20px;
}

.logos {
    display: flex;
    flex-direction: column;
}

.fb {
    display: flex;
    flex-direction: row;
}

footer {
    background: black;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer p {
    font-size: 10pt;
    padding: 20px;
}

footer .social {
    background-color: white;
    display: flex;
}

footer .social a {
    background-color: black;
    height: 60px;
    display: inline-block;
    width: 60px;
    text-align: center;
    line-height: 60px;
    margin-right: 0;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
